{% extends 'base.html.twig' %}

{% block title %}Edit Adresses{% endblock %}

{% block body %}
    <h1>Edit Adresses</h1>

    {{ include('adresses/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_adresses_index') }}">back to list</a>

    {{ include('adresses/_delete_form.html.twig') }}
{% endblock %}
